<!-- include footer -->
<%- include('include/_adminbase.ejs') %>
    <!-- /include footer -->
    <link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>

    
    <link rel="stylesheet" href="css/admindash.css">



    <section id="content">
        <main>

            <a href="/add-coupon"><button class="btn btn-success">Add coupon</button></a>
            <a href="/expired-coupon"><button class="btn btn-warning">Expired Coupons</button></a>

            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Coupons</h3>
                        <i class='bx bx-search'></i>
                        <i class='bx bx-filter'></i>
                    </div>
                    <table>

                        <thead>
                            <tr>
                                <th>SI. No</th>
                                <th>Coupon Code</th>
                                <th>Discount</th>
                                <th>Valid From</th>
                                <th>Expires At</th>
                                
                                
                            </tr>
                        </thead>
                        <% for(let i=0;i<coupon.length;i++){ %>
                            <tbody>
                                <tr>
                                    <td >
                                        <p>
                                            <%=i+1 %>
                                        </p>
                                        
                                    </td>
                                    
                                    <td>

                                        <p>
                                            <%= coupon[i].code %>
                                            
                                        </p>
                                        
                                    </td>
                                    <td> <%= coupon[i].discountPercentage %></td>
                                    <td>
                                        <%= coupon[i].createdAt.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %>

                                    </td>
                                    <td>
                                        <%= coupon[i].expirationDate.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %>

                                    </td>
                                    
                                    

                                    <td><a href="/delete-coupon?id=<%=coupon[i]._id%>">
                                      <button class="btn btn-danger">Delete</button></a>
                                    </td>


                                </tr>
                                
                                <% } %>
                                
                            </tbody>
                            
                    </table>
                    
                </div>
        </main>
        <style>
          /* Add a border-bottom to every table row */
          table tbody tr {
            border-bottom: 1px solid #ddd; /* Adjust the color as needed */
          }
        
          /* Optional: Add hover effect to the rows */
          table tbody tr:hover {
            background-color: #f5f5f5; /* Adjust the background color as needed */
          }
        </style>
        
        
    </section>


    </body>

    </html>