<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="icon" href="img/s.png">
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

</head>
    <!-- Add your CSS and Bootstrap links here -->


<body>
    <div style="height: 85vh; background-color: #F0EEB3;" class="mt-5">
        <section class="vh-86 gradient-custom">
            <div class="container">
                <% if (data[0].products && Array.isArray(data[0].products)) { %>
                    <% data[0].products.forEach(product => { %>
                        <div class="card mb-4">
                            <div class="card-header">
                                <h5>Order ID: <%= data[0].id %></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="images/<%= product.prd_image[0] %>" class="card-img" alt="">
                                    </div>
                                    <div class="col-md-8 ">
                                        <h5 class="card-title"><%= data[0].products[0].pname %></h5>
                                        <p class="card-text"><span style="font-weight: bolder;">Category:</span> <%= data[0].products[0].category %></p>
                                        <p class="card-text"><span style="font-weight: bolder;">Price:</span> ₹<%= data[0].price %></p>
                                        
                                        <p class="card-text"><span style="font-weight: bolder;">Description:</span> <%= data[0].products[0].description %></p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="text-center">No products found for this order.</p>
                <% } %>
            </div>
        </section>
    </div>
</body>

</html>
