<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELLZY</title>
    <link rel="icon" href="img/s.png">
    <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet"
/>
<link rel="stylesheet" href="css/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">

</head>
<body>
    <!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-2 text-center bg-dark border-bottom" style="height: 10vh; background-color: #1D1C1B !important;">

      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="/" target="_blank" class="float-start">
                <h2 style="color: #F0EEB3; font-family: 'Zen Dots', sans-serif; font-size: 20px; margin-left: 60px;
                margin-top: 7px">SELLZY</h2>
            </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <!-- <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
                <a href=signup class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center bg-white" target="_blank"> <i class="fas fa-user-alt m-1 me-md-2"></i><p class="d-none d-md-block mb-0">Sign up</p> </a>
            </div>
          </div> -->
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12" >
           
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  
    <!-- Navbar -->
    
</header>

<div style="height: 85vh; background-color: #F0EEB3;">
  <section class="vh-86 gradient-custom">
    <div class="container py-5 h-100">
<div class="row d-flex align-items-center justify-content-center" >
    <div class="col-md-8 mb-4">
      <div class="card mb-4">
        <div class="card-header py-3">
          <h5 class="mb-0">Update Address</h5>
        </div>
        <div class="card-body">
          <form action="/update-address/?id=<%= users.address[addressIndex]._id %>&addressIndex=<%= addressIndex %>" method="post">

                <div class="card shadow-0 border">
                    <div class="p-4">
                      <h5 class="card-title mb-3">Enter Your Details</h5>
                      <div class="row">
                       
          
                        
          
                        
                        
          
                        
                      </div>
        <!--   
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">Keep me up to date on news</label>
                      </div> -->
          
          
                      <!-- <h5 class="card-title mb-3">Shipping info</h5> -->
          
                      
          
                      <div class="row">
                        <div class="col-sm-8 mb-3">
                          <p class="mb-0">Address</p>
                          <div class="form-outline">
                            <input type="text" id="typeText" placeholder="Type here" class="form-control" name="Address" 
                            value="<%= address[addressIndex].Address %>" required/>
                          </div>
                        </div>
          
                        <div class="col-sm-4 mb-3">
                          <p class="mb-0">City</p>
                          <div class="form-outline">
                            <input value="<%= address[addressIndex].City %>" type="text" id="typeText" name="City" placeholder="city" class="form-control" required/>
                          </div>
                        </div>

                        <div class="col-sm-4 mb-3">
                            <p class="mb-0">State</p>
                            <div class="form-outline">
                              <input type="text" id="typeText" name="State" placeholder="city" class="form-control" value="<%= address[addressIndex].State %>" required/>
                            </div>
                          </div>
          
                        <div class="col-sm-4 mb-3">
                          <p class="mb-0">House NO.</p>
                          <div class="form-outline">
                            <input type="text" id="typeText" placeholder="Type here" name="House_No" class="form-control" value="<%= address[addressIndex].House_No %>" pattern="\d{2}" required/>
                          </div>
                        </div>
          
                        <div class="col-sm-4 col-6 mb-3">
                          <p class="mb-0">Postal code</p>
                          <div class="form-outline">
                            <input type="text" id="typeText" name="postcode" class="form-control" value="<%= address[addressIndex].postcode %>" pattern="\d{6}" required />
                          </div>
                        </div>
          
                        <div class="col-sm-4 col-6 mb-3">
                          <p class="mb-0">Alternate Number</p>
                          <div class="form-outline">
                            <input type="text" id="typeText" name="altr_number" class="form-control" value="<%= address[addressIndex].altr_number %>" pattern="\d{10}" required/>
                          </div>
                        </div>
                      </div>
          
                      <!-- <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
                        <label class="form-check-label" for="flexCheckDefault1">Save this address</label>
                      </div> -->
          
          
                      <div class="float-end">
                        
                        <button type="submit" class="btn btn-success shadow-0 border">Continue</button>
                      </div>
                    </div>
                  </div>
             </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  </div>
  <footer class="text-center text-dark" style=" height: 5vh; background-color: #302F2C; ">
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p- text-white" style="background-color:#302F2C">
      © 2020 Copyright:
      <a class="text-white" href=" ">sellzy</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>