<%- include('include/_header') %>

<section class="my-5" style="background-color: #F0EEB3;">
    <div class="container">
        <div class="row">
            <h5 style="margin-top: 5%;">Your Orders</h5>
            <div class="col-lg-9">
                <% if (data.length > 0) { %>
                    <% for (let i = data.length - 1; i >= 0; i--) { %>
                        <div class="card mb-4">
                            <div class="card-body">
                                <p style="font-size: 12px;" class="card-title">Order ID: <span
                                        style="font-weight: bold;">
                                        <%= data[i]._id %>
                                    </span></p>
                                <% let firstProduct = data[i].products[0]; %>
                                <div class="row gy-3 mb-2">
                                    <div class="col-2">
                                        <a href="/order-details?orderId=<%= data[i]._id %>&productId=<%= firstProduct._id %>">
                                            <img src="images/<%= firstProduct.prd_image %>"
                                                class="img-fluid" alt="<%= firstProduct.pname %>" />
                                        </a>
                                    </div>
                                    <div class="col-8 d-flex flex-column align-items-start d-flex justify-content-center">
                                        <h6 class="card-subtitle mb-2 text-muted text-center">
                                            <%= firstProduct.pname %>
                                        </h6>
                                        <p class="card-text text-muted text-center">
                                            <%= firstProduct.category %>
                                        </p>
                                    </div>
                                    <div class="col-2 d-flex align-items-center buttons">
                                        <% if (data[i].status === 'Returned') { %>
                                            <button class="btn btn-dark" disabled>Returned</button>
                                        <% } else if (data[i].status === 'Delivered') { %>
                                            <a href="/return-order?orderId=<%= data[i]._id %>">
                                                <button class="btn btn-warning" id="returnButton_<%= i %>" disabled>Return</button>
                                            </a>
                                        <% } else if (data[i].status === 'Shipped') { %>
                                            <button class="btn btn-warning" id="returnButton_<%= i %>" disabled>Return</button>
                                        <% } else if (data[i].status !== 'Cancelled') { %>
                                            <a href="/cancel-order?orderId=<%= data[i]._id %>">
                                                <button class="btn btn-outline-primary" id="cancelButton_<%= i %>">Cancel</button>
                                            </a>
                                        <% } else { %>
                                            <button class="btn btn-danger" disabled>Cancelled</button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <p>No Items In Orders</p>
                <% } %>
            </div>
        </div>
    </div>
</section>

<!-- /include footer -->


<style>
    @media (max-width: 375px) {
      h5 {
        font-size: 18px; /* Adjust font size for heading */
        margin-top: 15px; /* Adjust margin-top for heading */
      }
  
      .card {
        margin-bottom: 15px; /* Adjust margin bottom for each card */
      }
  
      .card-body {
        padding: 10px; 
        font-size: 10px;/* Adjust padding for card body */
      }
  
      .col-2 img {
        width: 100%; /* Make images inside col-2 take 100% width */
      }
  
      .col-8 {
        text-align: center; /* Center content inside col-8 */
      }
  
      .col-2 button {
        margin-top: 10px; /* Adjust margin-top for buttons inside col-2 */
      }
      

  .card-subtitle,
  .card-text,
  button {
    font-size: 12px; /* Adjust the font size for specific elements */
  }

  .buttons button {
    font-size: 10px;
    margin-left: -70px;
    margin-top: -20px; /* Adjust the font size as needed */
  }
      
    }
  </style>
  

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

</html>
